---

import Card from "../components/Card.tsx";
import CarouselServices from "../components/CarouselServices.tsx";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.tsx";
import Presentation from "../components/Presentation.astro";
import Section from "../components/Section.astro";
import { projects } from "../data/projects.ts";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <Nav client:load/>

  <!-- Profile -->
  <Presentation />

  <!-- Serviços -->
  <Section 
    title="Serviços" 
    isSecondary={true} 
    sectionId="servicos"
  >
    <div 
      data-aos="fade-ease" 
      data-aos-duration="1000"
      class="flex justify-center items-center h-full"
    >
      <CarouselServices client:only="react"/>
    </div>
  </Section>

  <!-- Projetos -->
  <Section title="Trabalhos" sectionId="trabalhos">
    <div 
      data-aos="fade-ease" 
      data-aos-duration="1000"
      class="flex flex-col justify-center px-6 w-full desktop:grid desktop:grid-cols-3 gap-12 desktop:px-48 py-8"
    >
      {projects.map((projet) => {
        return (
          <Card
            client:only="react"
            banner={typeof projet.image === "string" ? projet.image : projet.image.src}
            title={projet.name}
            text={projet.description}
          />
        );
      })}
    </div>
  </Section>

  <Footer />
</Layout>
