---
import type { Container, Engine } from "@tsparticles/engine";
import BooksIcon from "../assets/BooksIcon.svg";
import CatIcon from "../assets/CatIcon.svg";
import CoffeeIcon from "../assets/CoffeeIcon.svg";
import ComputerIcon from "../assets/ComputerIcon.svg";
import DockerIcon from "../assets/DockerIcon.svg";
import LinuxIcon from "../assets/LinuxIcon.svg";
import PostgresIcon from "../assets/PostgresIcon.svg";
import ServerIcon from "../assets/ServerIcon.svg";
import SongIcon from "../assets/SongIcon.svg";
import TsIcon from "../assets/TsIcon.svg";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Orbit from "../components/Orbit.astro";
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
declare global {
  interface Window {
    particlesInit: (engine: Engine) => Promise<void>;

    particlesLoaded: (container: Container) => void;
  }
}

const options = {
  fullScreen: {
    enable: true,
    zIndex: -1,
  },
  particles: {
    number: {
      value: 80,
    },
    color: {
      value: "#ffffff",
    },
    shape: {
      type: "circle",
    },
    opacity: {
      value: 0.5,
    },
    size: {
      value: 3,
    },
    move: {
      enable: true,
      speed: 1,
      direction: "none",
      outMode: "bounce",
    },
  },
  background: {
    color: "#0d0d0d",
  },
};
---

<Layout>
  <script type="module" is:inline src="/src/scripts/particles-init.ts"></script>
  <Header />
  <!-- Profile -->
  <style>
    .apresentation {
      color: white;
      font-size: 2rem;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      line-height: 1.5;
    }

    h1 {
      color: white;
      font-size: 2rem;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }
  </style>

  <div class="bg-gray-900 h-[100vh] overflow-hidden" id="particles-js">
    <Orbit rotation="320" orbitDuration="100s" size="940">
      <img src="/src/assets/code.png" alt="CodeIcon" />
    </Orbit>
    <Orbit rotation="100" orbitDuration="48s" size="400">
      <CatIcon class="size-18 text-[#11276e] opacity-40"/>
    </Orbit>
    <Orbit rotation="90" orbitDuration="180s" size="1180">
      <TsIcon class="size-15 text-[#11276e]"/>
    </Orbit>
    <Orbit rotation="0" orbitDuration="26s" size="580">
      <DockerIcon class="size-12"/>
    </Orbit>
    <Orbit rotation="150" orbitDuration="30s" size="480">
      <BooksIcon class="size-12 text-[#11276e]"/>
    </Orbit>
    <Orbit rotation="600" orbitDuration="55s" size="680">
      <PostgresIcon class="size-8 text-[#11276e]"/>
    </Orbit>
    <Orbit rotation="-80" orbitDuration="28s" size="680">
      <LinuxIcon class="size-20 text-[#11276e]"/>
    </Orbit>
    <Orbit rotation="110" orbitDuration="40s" size="780">
      <ServerIcon class="size-16 text-[#11276e]"/>
    </Orbit>
    <Orbit rotation="300" orbitDuration="50s" size="430">
      <ComputerIcon class="size-8 text-[#11276e] opacity-40"/>
    </Orbit>
    <Orbit rotation="-80" orbitDuration="48s" size="980">
      <CoffeeIcon class="size-14 text-[#11276e]"/>
    </Orbit>
    <Orbit rotation="94" orbitDuration="140s" size="980">
      <SongIcon class="size-16 text-[#11276e]"/>
    </Orbit>
    <div class="flex justify-around items-center h-full relative z-2">
      <div
        class="apresentation flex flex-col w-126"
        data-aos="fade-in"
        data-aos-duration="3000"
      >
        <p>Hi, my name is <span class="text-blue-700">Victor Silva</span></p>
        <p>I'm Full-Stack Developer</p>
        <p class="text-justify text-sm">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta natus
          cupiditate praesentium fugit sequi dignissimos, expedita a vero ipsa
          vitae voluptatum voluptate illum illo sit iste porro nihil
          necessitatibus. A?
        </p>
      </div>
    </div>
  </div>

  <!-- Skills -->
  <div
    class="w-full min-h-[70vh] bg-gray-900 flex flex-col items-center gap-8 py-4 relative z-2"
  >
    <h1 id="skills"><span class="text-blue-900 bold">My Skills</span></h1>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-4xl"
    >
      <Tag iconName="js.png" title="JavaScript" />
      <Tag iconName="ts.png" title="Typescript" />
      <Tag iconName="angular.png" title="Angular" />
      <Tag iconName="react.png" title="React" />
      <Tag iconName="node.png" title="Node" />
      <Tag iconName="nestjs.png" title="NestJs" />
      <Tag iconName="python.png" title="Python" />
      <Tag iconName="kotlin.png" title="Kotlin" />
      <Tag iconName="java.png" title="java" />
      <Tag iconName="docker.png" title="Docker" />
      <Tag iconName="postgres.png" title="PostgreSQL" />
      <Tag iconName="git.png" title="Git" />
      <Tag iconName="github.png" title="Github" />
    </div>
  </div>

  <!-- Projetos -->
  <div class="w-full h-[70vh] bg-gray-900 flex flex-col gap-8">
    <h1 id="projetos" class="text-white text-center text-lg">Projects</h1>
    <div class="flex flex-wrap gap-8 px-4">
      <Card
        banner="/src/assets/lovira.png"
        title="Lovira"
        text="Loriva is the best"
      />
      <Card
        banner="/src/assets/lovira.png"
        title="Lovira"
        text="Loriva is the best"
      />
      <Card
        banner="/src/assets/lovira.png"
        title="Lovira"
        text="Loriva is the best"
      />
    </div>
  </div>
</Layout>
