---

import Card from "../components/Card.tsx";
import Carousel from '../components/Carousel';
import Nav from "../components/Nav.tsx";
import Presentation from "../components/Presentation.astro";
import Section from "../components/Section.astro";
import { projects } from "../data/projects.ts";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const services = [
  {
    title: "Web Development",
    description: "Building responsive and modern web applications.",
  },
  {
    title: "Mobile Development",
    description: "Creating user-friendly mobile applications.",
  },
  {
    title: "UI/UX Design",
    description: "Designing intuitive user interfaces and experiences.",
  },
]
---

<Layout>
  <Nav client:load/>

  <!-- Profile -->
  <Presentation />

  <!-- Serviços -->
  <Section 
    title="Serviços" 
    isSecondary={true} 
    sectionId="servicos"
  >
    <div class="flex justify-center items-center h-full">
      <Carousel
        client:only="react"
        items={services.map((service) => ({
          title: service.title,
          text: service.description,
        }))}
      />
    </div>
  </Section>

  <!-- Projetos -->
  <Section title="Trabalhos" sectionId="trabalhos">
    <div 
      data-aos="fade-ease" 
      data-aos-duration="1000"
      class="grid grid-cols-3 gap-12 px-48 py-8"
    >
      {projects.map((projet) => {
        return (
          <Card
            banner={typeof projet.image === "string" ? projet.image : projet.image.src}
            title={projet.name}
            text={projet.description}
          />
        );
      })}
    </div>
  </Section>
</Layout>
